*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #073b4c;
}

h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
    margin-top: 40px;
}

#container{
    width: 70%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
}

/* creo il l'elemento principale */
.box{
    display: flex;
    width: 90px;
    height: 90px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: #118ab2;
}

/* per i num multipli di 3 */
.green_3{
    display: flex;
    width: 90px;
    height: 90px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 175, 42);
}

/* per i num multipli di 5 */
.yellow_5{
    display: flex;
    width: 90px;
    height: 90px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(207, 195, 28);
}

/* per i num multipli di 3 e di 5 */
.red_3_5{
    display: flex;
    width: 90px;
    height: 90px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(197, 26, 26);
}

.box:hover,.green_3:hover,.yellow_5:hover,.red_3_5:hover{
    transform: scale(1.1);
}